<!DOCTYPE html>
<html>
<head>
	<title>Email App</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="Stylesheet/main.css">
	<script type="text/javascript" src="Javascript/angular.js"></script>
	<script type="text/javascript" src="Javascript/main.js"></script>
</head>
<body ng-app="mainWindow" ng-controller="mainWindowController as main" onresize="{var inbox = document.getElementsByClassName('rightCorner')[0];console.log(window.innerHeight);inbox.style.height = window.innerHeight - 35 + 'px';}">
	<div class="leftCorner">
		<div id="userSpace">
			<div id="userImage">
<!-- 				<img src="images/userImage.png">
 -->			</div>
			<div id="userName">
				<span id="nameText">Ashik Unni A</span>
				<div id="signOut">S I G N - O U T</div>
			</div>
		</div>
		<div id="mainOptions">
			<h2>What you really need are the</h2>
			<h1>M A I N - O P T I O N S</h1>
			<div id="composeBtn" ng-click="main.toggleComposeMail()">
				<span>C O M P O S E</span>
				<div id="border_in"></div>
				<span>A NEW MAIL</span>
			</div>
			<div id="inboxBtn" ng-click="main.toggleInbox()">
				<span>I N B O X</span>
				<div id="border_in"></div>
			</div>
		</div>
	</div>
	<div class="rightCorner">
	<!-- Compose Mail Section -->
		<div id="composeMailPage" ng-controller="sendMailController as ctrl" ng-show="main.composeMailFlag">
			<div id="heading">
				<span id="title">C O M P O S E</span>
				<span id="subject">{{ctrl.subject}}</span>
			</div>
			<div id="content"><form name="composeMailForm">
				<div class="recepients">
					<span>Send this mail to : </span>
					<input type="email" id="recepients" ng-model="recepients" name="recepients" required>
				</div>
				<div class="cc_recepients">
					<span>CC this mail to : </span>
					<input type="text" id="cc_recepients">
				</div>
				<div class="bcc_recepients">
					<span>BCC this mail to : </span>
					<input type="text" id="bcc_recepients">
				</div>
				<div class="subject">
					<span>Subject : </span>
					<input type="text" ng-model="ctrl.subject" id="subject">
				</div>
				<div class="mailBody">
					<div id="mailBody" contenteditable='true' subject-filled required ng-model="body">
						
					</div>
				</div>
				<input id="sendButton" type="submit" name="" value="S E N D" ng-disabled="composeMailForm.recepients.$invalid">
			</form></div>
		</div>
	<!-- Inbox Section -->
		<div id="inboxPage" ng-controller="inboxController as ctrl" ng-show="main.inboxFlag">
			<div class="column">
				<div class="mail" ng-repeat="mails in oddMail" ng-click="ctrl.openMail($event,mails)">
					<div id="subject" class="{{mails.checked}}">		{{mails.subject}}
						<div id="sender">{{mails.sender}}</div>
					</div>
					<div id="body">{{mails.message}}</div>
				</div>
			</div>
			<div class="column">
				<div class="mail" ng-repeat="mails in evenMail" ng-click="ctrl.openMail($event,mails)">
					<div id="subject" class="{{mails.checked}}">		{{mails.subject}}
						<div id="sender">{{mails.sender}}</div>
					</div>
					<div id="body">{{mails.message}}</div>
				</div>
			</div>
		</div>
	</div>
	<div style="clear: both"></div>
</body>
</html>